
<!-- main site -->
<section class="screen">
    <div class="container">

        <!-- logo -->
        <div class="logo-screen">
            <div class="row">
                <div class="col-md-12">
                    <img class="img-responsive" src="<%=asset_path("logo.svg")%>" alt="logo">
                </div>
            </div>
        </div>
        <!-- .logo -->

        <!-- form login-->
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

        <div class="form-login signup">
            <div class="row">

                <div class="col-md-12">
                    <div class="input-group">
                        <%= f.text_field :secret_code, :class => "form-control", :placeholder => "SECRET CODE (PROVIDED BY SEAN)"  %>
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="input-group">
                        <%= f.text_field :first_name, :class => "form-control", :placeholder => "NAME"  %>

                    </div>
                </div>

                <div class="col-md-12">
                    <div class="input-group">
                        <%= f.text_field :last_name, :class => "form-control", :placeholder => "LAST NAME"  %>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="input-group">
                        <%= f.email_field :email, :class => "form-control", :placeholder => "EMAIL"  %>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="input-group">
                        <%= f.password_field :password, :class => "form-control", :placeholder => "PASSWORD" %>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="input-group">
                        <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "VERIFY PASSWORD" %>
                    </div>
                </div>


            </div>
        </div>
        <!-- .form login -->


        <!-- log in button -->
        <div class="button">
            <div class="row">
                <div class="col-md-12">
                    <%= f.submit "SIGN UP", :class => "btn full" %>
                </div>
            </div>
        </div>
        <!-- .log in button -->
        <% end %>

        <!-- sign up link -->
        <div class="signup-link text-center">
            <div class="row">
                <div class="col-md-12">
                    <a class="link" href="index.html">ALREADY HAVE AN ACCOUNT?</a>
                </div>
                <div class="col-md-12">
                    <a class="link link-small" href="#">Need Help?</a>
                </div>
            </div>
        </div>
        <!-- sign up link -->

    </div>
</section>
<!-- .main site -->

