







<!-- main site -->
<section class="think-tank no-padding">

    <!-- header container -->
    <div class="header-container">
        <!-- header -->
        <header class="header-top">

            <div class="go-back">
                <a class="link link-big" href="/">
                    <i><img src="<%=asset_path("icons/i_angle_left.png")%>" alt="icon_angle"></i>

                    <h3>
                        RECAP
                    </h3>
                </a>
            </div>

            <div class="profile">
                <a class="link link-profile" href="/pages/edit_profile"><img class="img-circle" src="<%=url_for(:controller => "users", :action => "show_picture", :id => current_user.id)%>"
                                                           alt="profile"></a>
            </div>

        </header>
        <!-- .header -->
    </div>
    <!-- .header container -->

    <!-- header container -->
    <div class="header-container">
        <!-- header lower-->
        <header class="header-lower">

            <div class="add add-post">
                <%= link_to 'ADD RECAP +', new_recap_path, :class => "btn btn-dark" %>
            </div>

            <div class="calendar calendar-inner">
                <a href="/pages/coming_soon">
                    <img src="<%=asset_path("icons/i_calendar_dark.png")%>" alt="icon_calendar">
                </a>
            </div>

        </header>
        <!-- .header lower -->
    </div>
    <!-- .header container -->


    <!-- posts -->
    <div class="posts">
        <% Recap.all.order(rdate: :desc).each do |recap| %>
        <!-- post -->
        <div class="post">
            <div class="post-title">

                <h6><a href="<%= url_for recap %>"><%= recap.restaurant.name.upcase %></a></h6>

                <div class="post-meta">
                    <span class="author">Author: <%= recap.user.email %></span>
                </div>
            </div>

            <div class="post-date">
                <p><%= recap.rdate.to_s%></p>
            </div>
        </div>
        <!-- .post -->
        <% end %>
    </div>
    <!-- posts -->


    <!-- footer nav -->
    <footer class="footer-nav">
        <nav>
            <ul class="list-unstyled">
                <li><a href="/"><img src="<%=asset_path("icons/i_home.png")%>" alt="icon_home"></a></li>
                <li><a href="/thinkthanks"><img src="<%=asset_path("icons/i_comment.png")%>" alt="icon_comment"></a></li>
                <li><a href="restaurants.html"><img src="<%=asset_path("icons/i_restaurant.png")%>" alt="icon_restaurant"></a></li>
                <li><a href="#"><img src="<%=asset_path("icons/i_search_footer.png")%>" alt="icon_search"></a></li>
            </ul>
        </nav>
    </footer>
    <!-- footer nav -->

</section>
<!-- .main site -->










<!--
<p id="notice"><%= notice %></p>

<h1>Listing Recaps</h1>

<table>
  <thead>
    <tr>
      <th>Recap</th>
      <th>User</th>
      <th>Restaurant</th>
      <th>Rdate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recaps.each do |recap| %>
      <tr>
        <td><%= recap.recap %></td>
        <td><%= recap.user %></td>
        <td><%= recap.restaurant %></td>
        <td><%= recap.rdate %></td>
        <td><%= link_to 'Show', recap %></td>
        <td><%= link_to 'Edit', edit_recap_path(recap) %></td>
        <td><%= link_to 'Destroy', recap, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recap', new_recap_path %>
-->
