<%= form_for(@rcomment) do |f| %>
  <% if @rcomment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rcomment.errors.count, "error") %> prohibited this rcomment from being saved:</h2>

      <ul>
      <% @rcomment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rcomment %><br>
    <%= f.text_area :rcomment %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :recap_id %><br>
    <%= f.text_field :recap_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
