<%= form_for(@thinktank) do |f| %>
  <% if @thinktank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thinktank.errors.count, "error") %> prohibited this thinktank from being saved:</h2>

      <ul>
      <% @thinktank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :thinktank %><br>
    <%= f.text_area :thinktank %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
