<!DOCTYPE html>

<!-- main site -->
<section class="think-tank no-padding">

    <!-- header container -->
    <div class="header-container">
        <!-- header -->
        <header class="header-top">

            <div class="go-back">
                <a class="link link-big" href="/">
                    <i><img src="<%=asset_path("icons/i_angle_left.png")%>" alt="icon_angle"></i>

                    <h3>
                        THINK TANK(S)
                    </h3>
                </a>
            </div>

            <div class="profile">
                <a class="link link-profile" href="/pages/edit_profile"><img class="img-circle" src="<%=url_for(:controller => "users", :action => "show_picture", :id => current_user.id)%>" alt="profile"></a>
            </div>

        </header>
        <!-- .header -->
    </div>
    <!-- .header container -->

    <!-- header container -->
    <div class="header-container">
        <!-- header lower-->
        <header class="header-lower">

            <div class="add add-post">
                <a class="btn btn-dark" href="recap_post.html">ADD +</a>
            </div>

            <div class="calendar calendar-inner">
                <a href="calendar.html" class="hidden">
                    <img src="img/icons/i_calendar_dark.png" alt="icon_calendar">
                </a>
            </div>

        </header>
        <!-- .header lower -->
    </div>
    <!-- .header container -->
    
    <% if notice %>
    <div class="text-center" id="notice"><br><%= notice %><br></div>
    <% end %>

    <!-- posts -->
    <div class="posts">

        <% Thinktank.all.each do |thinktank| %>
        <!-- post -->
        <div class="post">

            <div class="post-title">
                <h6><%= link_to thinktank.title, thinktank %></h6>

                <div class="post-meta">
                    <span class="author">Author: <%= thinktank.user.email%></span>
                </div>
            </div>

            <div class="post-date">
                <p><%= thinktank.updated_at.to_s(:long)%></p>
            </div>

        </div>
        <!-- .post -->
        <% end %>

    </div>
    <!-- posts -->

    <!-- footer nav -->
    <footer class="footer-nav">
        <nav>
            <ul class="list-unstyled">
                <li><a href="/"><img src="<%=asset_path("icons/i_home.png")%>" alt="icon_home"></a></li>
                <li><a href="/thinktanks"><img src="<%=asset_path("icons/i_comment.png")%>" alt="icon_comment"></a></li>
                <li><a href="/pages/restaurants"><img src="<%=asset_path("icons/i_restaurant.png")%>" alt="icon_restaurant"></a></li>
                <li><a href="/pages/coming_soon"><img src="<%=asset_path("icons/i_search_footer.png")%>" alt="icon_search"></a></li>
            </ul>
        </nav>
    </footer>
    <!-- footer nav -->

</section>
<!-- .main site -->






