
<!-- main site -->
<section class="think-tank no-padding">

    <%= render "shared/header", h3_text: "BACK TO DASHBOARD", back_link: '/pages/account_home' %>

    <!-- header container -->
    <div class="header-container">
        <!-- header lower-->
        <header class="header-lower">

            <div class="add add-post">
                <a class="btn btn-dark" href="/thinktanks/new">ADD +</a>
            </div>

            <div class="calendar calendar-inner">
                <a href="calendar.html" class="hidden">
                    <img src="<%=asset_path("icons/i_calendar_dark.png")%>" alt="icon_calendar">
                </a>
            </div>

        </header>
        <!-- .header lower -->
    </div>
    <!-- .header container -->
    
    <% if notice %>
    <div class="text-center" id="notice"><br><%= notice %><br></div>
    <% end %>

    <!-- posts -->
    <div class="posts">

        <% Thinktank.all.order(updated_at: :desc).each do |thinktank| %>

        <a href="<%= thinktank_url(thinktank)%>">
        <!-- post -->
        <div class="post">

            <div class="post-title">
                <h6><%= thinktank.title %></h6>

                <div class="post-meta">
                    <span class="author">Author: <%= thinktank.user.email%></span>
                </div>
            </div>

            <div class="post-date">
                <p><%= thinktank.updated_at.to_s(:long)%></p>
            </div>

        </div>
        <!-- .post -->
        </a>

        <% end %>

    </div>
    <!-- posts -->

    <%= render "shared/footer_nav" %>

</section>
<!-- .main site -->






