<!DOCTYPE html>

<!-- main site -->
<section class="think-tank no-padding">

    <%= render "shared/header", h3_text: "THINK TANK(S)" %>

    <!-- header container -->
    <div class="header-container">
        <!-- header lower-->
        <header class="header-lower">

            <div class="add add-post">
                <a class="btn btn-dark" href="recap_post.html">ADD +</a>
            </div>

            <div class="calendar calendar-inner">
                <a href="calendar.html" class="hidden">
                    <img src="img/icons/i_calendar_dark.png" alt="icon_calendar">
                </a>
            </div>

        </header>
        <!-- .header lower -->
    </div>
    <!-- .header container -->
    
    <% if notice %>
    <div class="text-center" id="notice"><br><%= notice %><br></div>
    <% end %>

    <!-- posts -->
    <div class="posts">

        <% Thinktank.all.each do |thinktank| %>
        <!-- post -->
        <div class="post">

            <div class="post-title">
                <h6><%= link_to thinktank.title, thinktank %></h6>

                <div class="post-meta">
                    <span class="author">Author: <%= thinktank.user.email%></span>
                </div>
            </div>

            <div class="post-date">
                <p><%= thinktank.updated_at.to_s(:long)%></p>
            </div>

        </div>
        <!-- .post -->
        <% end %>

    </div>
    <!-- posts -->

    <%= render "shared/footer_nav" %>

</section>
<!-- .main site -->






