
<!-- main site -->
<section class="screen no-padding edit">

    <!-- header container -->
    <div class="header-container">
        <!-- header -->
        <header class="header-top">

            <div class="go-back">
                <a class="link link-big" href="/">
                    <i><img src="<%=asset_path("icons/i_angle_left.png")%>" alt="icon_angle"></i>

                    <h3>
                        EDIT PROFILE
                    </h3>
                </a>
            </div>

            <div class="profile">
                <a class="link link-profile" href="/pages/edit_profile"><img class="img-circle" src="<%=url_for(:controller => "users", :action => "show_picture", :id => current_user.id)%>"
                                                           alt="profile"></a>
            </div>

        </header>
        <!-- .header -->
    </div>
    <!-- .header container -->

    <div class="screen-inner">
        <div class="container">



            <!-- log in button -->
            <div class="button">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <%= button_to "Sign Out", destroy_user_session_path, :method => :get, :class => "btn full no-hover" %>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .log in button -->
<%= form_for(@user) do |f| %>



            <!-- logo -->
            <div class="logo-screen text-center edit-image">
                <div class="row">
                    <div class="col-md-12">
                        <img class="img-responsive edit-profile avatar-01" src="<%=url_for(:controller => "users", :action => "show_picture", :id => @user.id)%>" alt="profile_image">
                        <!--<%= image_tag url_for(:controller => "users", :action => "show_picture", :id => @user.id), :class => "img-responsive edit-profile avatar-01" %>-->
                        <br>
                        <center><%= f.file_field :picture, accept: 'image/jpeg,image/jpg', id: "file-upload-1" %></center>


                    </div>
                </div>
            </div>
            <!-- .logo -->


  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


          <% if notice.present? || alert.present? %>
          <p class="notice"><%= notice %> <%= alert %> </p>
          <% end %>

            <!-- form login-->
            <div class="form-login signup">
                <div class="row">

                    <div class="col-md-12">
                        <div class="input-group">
                            <%= f.text_field :first_name, :class => 'form-control', :placeholder => 'NAME' %>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="input-group">
                            <%= f.text_field :last_name, :class => 'form-control', :placeholder => 'LAST NAME' %>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="input-group">
                            <%= f.text_field :email, :class => 'form-control', :placeholder => 'EMAIL' %>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="input-group">
                            <%= f.text_field :password, :class => 'form-control', :placeholder => 'CHANGE PASSWORD' %>
                        </div>
                    </div>

                </div>
            </div>
            <!-- .form login -->

            <!-- log in button -->
            <div class="button">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <%= f.submit 'SAVE', :class => 'btn full no-hover' %>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .log in button -->

        </div>
    </div>
<% end %>
    <!-- footer nav -->
    <footer class="footer-nav">
        <nav>
            <ul class="list-unstyled">
                <li><a href="/"><img src="<%=asset_path("icons/i_home.png")%>" alt="icon_home"></a></li>
                <li><a href="/thinkthanks"><img src="<%=asset_path("icons/i_comment.png")%>" alt="icon_comment"></a></li>
                <li><a href="restaurants.html"><img src="<%=asset_path("icons/i_restaurant.png")%>" alt="icon_restaurant"></a></li>
                <li><a href="/pages/coming_search"><img src="<%=asset_path("icons/i_search_footer.png")%>" alt="icon_search"></a></li>
            </ul>
        </nav>
    </footer>
    <!-- footer nav -->

</section>
<!-- .main site -->
