

<!-- main site -->
<section class="screen no-padding edit">

    <%= render "shared/header", h3_text: "EDIT PROFILE" %>


    <div class="screen-inner">
        <div class="container">

            <!-- log in button -->
            <div class="button">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <%= button_to "Sign Out", destroy_user_session_path, :method => :get, :class => "btn full no-hover" %>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .log in button -->


<%= form_for(@user, :html => { 'data-id' => @user.id, 'class' => 'file-upload-1-form' }) do |f| %>
  <center><%= f.file_field :picture, accept: 'image/*', class: 'file-upload-1'  %></center>
<% end %>
            <div class="button">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                          <img class="zimg-responsive edit-profile avatar-01" src="<%=url_for(:controller => "users", :action => "show_picture", :id => @user.id)%>" alt="profile_image">
                        </div>
                    </div>
                </div>
            </div>

<%= form_for(@user, :html => { 'data-id' => @user.id}) do |f| %>


            <input type='hidden' name='_method' value='put'>
            <!-- logo -->
            <!-- .logo -->


  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


          <% if notice.present? || alert.present? %>
          <p class="notice"><%= notice %> <%= alert %> </p>
          <% end %>

            <!-- form login-->
            <div class="form-login signup">
                <div class="row">

                    <div class="col-md-12">
                        <div class="input-group">
                            <%= f.text_field :first_name, :class => 'form-control', :placeholder => 'NAME' %>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="input-group">
                            <%= f.text_field :last_name, :class => 'form-control', :placeholder => 'LAST NAME' %>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="input-group">
                            <%= f.text_field :email, :class => 'form-control', :placeholder => 'EMAIL' %>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="input-group">
                            <%= f.text_field :password, :class => 'form-control', :placeholder => 'CHANGE PASSWORD' %>
                        </div>
                    </div>

                </div>
            </div>
            <!-- .form login -->

            <!-- log in button -->
            <div class="button">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <%= f.submit 'SAVE', :class => 'btn full no-hover' %>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .log in button -->

        </div>
    </div>
<% end %>

    <%= render "shared/footer_nav" %>

</section>
<!-- .main site -->




<div id="saving-1" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content text-center">
      Saving ..
    </div>
  </div>
</div>


