<%= form_for(@special) do |f| %>
  <!-- main site -->
  <section class="think-tank no-padding">

    <!-- add post form -->
    <div class="screen-inner-special">
      <div class="container">

        <div class="form-login form-alt">
          <div class="row">

            <div class="col-md-12">
              <div class="input-group">
                <%= f.text_field :title, :class => "form-control", :placeholder => "TITLE" %>
              </div>
            </div>

            <div class="col-md-12">
              <div class="input-group">
                <%= f.date_field :sdate, :class => "form-control", :placeholder => "SELECT DATE" %>
            </div>
            </div>

            <div class="col-md-12">
              <div class="input-group">
                <%= f.text_area :special, :class => "form-control", :placeholder => "WRITE..." %>
              </div>
            </div>

            <div class="col-md-12">
              <div class="input-group">
                <%= f.file_field :image %>
                <%= f.hidden_field :image_cache %>
              </div>
            </div>
          </div>
        </div>

        <!-- log in button -->
        <div class="button">
          <div class="row">
            <div class="col-xs-5 col-xs-offset-1">
              <%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
              <%= f.submit "SUBMIT", :class => "btn btn-dark full" %>
            </div>
            <div class="col-xs-5">
              <a class="btn btn-dark full" href="javascript:window.history.back()">CANCEL</a>
            </div>
          </div>
        </div>
        <!-- .log in button -->

      </div>
    </div>
    <!-- add post form -->

    <%= render "shared/footer_nav" %>

  </section>
  <!-- .main site -->

<% end %> <!-- form_for -->


<div id="saving-3" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content text-center">
      <br>
      Saving ..
      <br><br>
    </div>
  </div>
</div>

