

<!--main site-->
<section class="screen">
<div class="container">
<!--logo-->
<div class="logo-screen">
<div class="row">
<div class="col-md-12">
<img alt="logo" class="img-responsive"<% _slim_codeattributes6 = asset_path("logo.svg"); if _slim_codeattributes6; if _slim_codeattributes6 == true %> src=""<% else %> src="<%= ::Temple::Utils.escape_html((_slim_codeattributes6)) %>"<% end; end %> />
</div></div></div><!--.logo-->
<p class="notice"><%= ::Temple::Utils.escape_html((notice)) %>
</p><p class="alert"><%= ::Temple::Utils.escape_html((alert)) %>
</p>

<!--form login-->

<%= form_for("user", :url => user_session_path) do |f| %>




<div class="form-login">
<div class="row">
<div class="col-md-12">
<div class="input-group">
<i>
<img alt="icon_login"<% _slim_codeattributes7 = asset_path("i_login.png"); if _slim_codeattributes7; if _slim_codeattributes7 == true %> src=""<% else %> src="<%= ::Temple::Utils.escape_html((_slim_codeattributes7)) %>"<% end; end %> />
</i>
    <%= f.text_field :email, :class => "form-control" %>
</div></div><div class="col-md-12">
<div class="input-group">
<i>
<img alt="icon_login"<% _slim_codeattributes8 = asset_path("i_pass.png"); if _slim_codeattributes8; if _slim_codeattributes8 == true %> src=""<% else %> src="<%= ::Temple::Utils.escape_html((_slim_codeattributes8)) %>"<% end; end %> />
</i>
<%= f.password_field :password, :class => "form-control" %>
<%= link_to "Forgot Password?", new_password_path('user'), :class => "link link-small" %>
</div></div></div></div><!--.form login-->





<!--log in button-->
<div class="button">
<div class="row">
<div class="col-md-12">
<%= f.submit 'LOG IN', :class => 'btn full' %>
</div></div></div><!--.log in button-->
<% end %> 
<!--sign up link-->
<div class="signup-link text-center">
<div class="row">
<div class="col-md-12">
<a class="link" href="/sign_up">
SIGN UP NOW
<i>
<img alt="icon_signup"<% _slim_codeattributes9 = asset_path("i_key.png"); if _slim_codeattributes9; if _slim_codeattributes9 == true %> src=""<% else %> src="<%= ::Temple::Utils.escape_html((_slim_codeattributes9)) %>"<% end; end %> />
</i></a></div><div class="col-md-12">
<a class="link link-small" href="/pages/coming_soon"> Need Help?</a>
</div></div></div><!--sign up link-->
</div></section><!--.main site-->
