<!-- main site -->
<section class="think-tank no-padding">

    <%= render "shared/header", h3_text: "#{@restaurant.name.upcase} RESTAURANT" %>

    <!-- header container -->
    <div class="header-container">
        <!-- header lower-->
        <header class="header-lower no-padding">

            <div class="date">
                <a href="/pages/coming_soon"><img src="<%=asset_path("icons/i_angle_left.png")%>" alt="icon_calendar"></a>

                <p>THURSDAY, NOV 11 2015</p>
                <a href="/pages/coming_soon"><img src="<%=asset_path("icons/i_angle_right.png")%>" alt="icon_calendar"></a>
            </div>

            <div class="calendar calendar-special">
                <a href="/pages/coming_soon"><img src="<%=asset_path("icons/i_calendar_dark.png")%>" alt="icon_calendar"></a>
            </div>

            <div class="add add-special">
                <a href="/specials/new?rid=<%=@restaurant.id%>"><img src="<%=asset_path("icons/i_plus.png")%>" alt="icon_add"></a>
            </div>

        </header>
        <!-- .header lower -->
    </div>
    <!-- .header container -->


    <!-- specials items -->
    <div class="specials-items">

        <% @restaurant.specials.all.each do |special| %>
        <!-- special item -->
        <div class="special-item">
            <div class="special-image">
                <img src="<%=url_for(:controller => "specials", :action => "show_picture", :id => special.id)%>" alt="special_image">
            </div>
            <div class="special-content">
                <h4><%= special.title %></h4>

                <p><%= special.special %></p>
            </div>
        </div>
        <!--.special item -->
        <% end %>

    </div>
    <!-- .specials items -->


    <!-- footer top -->
    <footer class="footer-top">

        <div class="restaurant-buttons">
            <div class="restaurant-button">
                <a href="/recaps?rid=<%=@restaurant.id%>">
                <img class="svg" src="<%=asset_path("icons/svg_inventory.svg")%>" alt="icon_recap">
                <h3>RECAP</h3>
                </a>
            </div>
            <div class="restaurant-button active">
                <a href="/inventories?rid=<%=@restaurant.id%>">
                <img class="svg" src="<%=asset_path("icons/svg_inventory.svg")%>" alt="icon_inventory">

                <h3>INVENTORY</h3>
                </a>
            </div>
        </div>

    </footer>
    <!-- .footer top -->

    <%= render "shared/footer" %>

</section>
<!-- .main site -->
