<!DOCTYPE html>
<html lang="en">
<head>
   <title>Meat Market App</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:400italic,700italic,400,700'
          rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->

    <!-- Bootstrap -->
    <link href="<%=asset_path("bootstrap.min.css")%>" rel="stylesheet">

    <!-- Calendar -->
    <link href="<%=asset_path("zabuto_calendar.min.css")%>" rel="stylesheet">

    <!-- Template -->
    <link href="<%=asset_path("style.css")%>" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>



  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="<%=asset_path("bootstrap.min.js")%>"></script>
<!-- Include all template js plugins -->
<script src="<%=asset_path("zabuto_calendar.min.js")%>"></script>

<!-- Include all template custom js -->
<script src="<%=asset_path("custom.js")%>"></script>

</body>
</html>
